:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme {
  background-color: rgb(239, 239, 239);
  min-height: 100vh;
  color: rgb(15, 15, 15);
}

.dark-theme {
  background-color: rgb(33, 33, 33);
  min-height: 100vh;
  color: rgb(239, 239, 239);
}